.card-container {
  background-color: white;
  width: 19.7rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 1.5rem;
  gap: 3rem;
  box-shadow: 3px 3px 4px rgb(209, 208, 208);
}
.image-container {
  height: 6.8rem;
  width: 6.8rem;
  display: flex;
  object-fit: contain;
}
.card-details-container {
  height: 7rem;
  width: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-title {
  font-size: 1.1rem;
  color: gray;
  margin-top: 10px;
}
.card-content {
  margin: -10px 0 0 auto;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .card-title {
    font-size: 15px;
  }
  .image-container {
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
    object-fit: contain;
  }
  .card-content {
    align-items: center;
    font-size: 14px;
  }
  .md-screen {
    transition: 10ms opacity ease-in-out;
    transition-delay: 100ms;
    opacity: 1;
  }
  .deactive {
    opacity: 0;
  }

  .card-container {
    width: 75vw;
    gap: 1rem;
    position: absolute;
  }
}
