.paginate-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.disabled-cursor {
  cursor: no-drop;
}

.btn-paginate {
  background-color: whitesmoke;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0.3rem 0.5rem;
  width: 5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  color: black;
}
.cursor {
  cursor: pointer;
}
.primary-btn {
  width: 2rem;
  color: rgb(78, 99, 214);
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(226, 218, 218);
  box-shadow: 2px 2px 3px rgb(201, 194, 194);
}
.secondary-btn {
  background-color: whitesmoke;
  width: 2rem;
  cursor: pointer;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .paginate-container {
    width: 100vw;
    justify-content: center;
    margin: 10px;
  }
  .btn-paginate {
    margin: 3px;
    width: 1.35rem;
    padding: 3px;
    font-size: small;
    font-weight: 400;
  }
}
